body,
code,
pre {
  background-color: rgb(24, 24, 24);
  color: white;
}

body {
  background-color: #252526;
}

ul {
  list-style: none;
  padding-left: 0;
}

.text-danger {
  text-shadow: 0 0 5px #FF0000;
  transition: all 0.1s ease-out;
  animation: ALARM 2s infinite;
}

.text-danger::after {
  content: " - ERROR";
}


.slot-details {
  margin-top: 11px;
  margin-bottom: 8px;
}

.slot {
  background-color: #444;
  margin-top: 3px;
  padding: 11px;
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgb(29, 29, 29);
}

.slot:hover {

  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);


}

.computer {
  margin-top: 22px;
  border: solid 1px #4444;
}

@keyframes ALARM {
  0% {
    text-decoration: overline;
  }

  50% {
    text-decoration: underline;
  }

  100% {
    text-decoration: none;
  }
}