body,
code,
pre {
  background-color: rgb(24, 24, 24);
  color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

.text-danger {
  text-shadow: 0 0 5px #FF0000;
  transition: all 0.1s ease-out;
  animation: ALARM 2s infinite;
}

.text-danger::after {
  content: " - ERROR";
}

@keyframes ALARM {
  0% {
    text-decoration: overline;
  }

  50% {
    text-decoration: underline;
  }

  100% {
    text-decoration: none;
  }
}