body,
.App,
#root {
  height: 100%
}

@font-face {
  font-family: 'LCDM2N';
  src: url('./font/LCDM2N.eot');
  src: local('LCDM2N'), url('./font/LCDM2N.woff') format('woff'), url('./font/LCDM2N.ttf') format('truetype');
}

/* Font downloaded from FontsForWeb.com */
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_523">Text with this font applied</p> */
.fontsforweb_fontid_523 {
  font-family: 'LCDBOLD' !important;
}

.inner-shadow {
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow: inset 0 0 5px #000000;
}


.rack {
  margin-top: 22px;
  /* background-image: url('./burl-canaletto-walnut-dark-wood-texture-seamless.jpg'); */
  /*   border-width: 5px; */
  /* border-image: url('./burl-canaletto-walnut-dark-wood-texture-seamless.jpg') 1 round; */
  border: 0;
  border-style: solid;
  border-radius: 3px;
  border-color: #161212;
  background-color: #161212;
}


.container-fluid {
  padding: 0
}

.slot {
  margin-top: 11px;
  margin-right: 11px;
  background-color: rgba(22, 22, 22, 0.308);
}

.rack .display {
  margin-top: 14px;
  padding: 22px;
  background-color: rgb(12, 12, 12);
  font-family: 'LCDM2N' !important;


  font-size: 1em;
  letter-spacing: 2px;
  color: rgb(201, 197, 255);
}


.rack ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rack ul li {
  display: block;

}